@import "compass";

//Простой сброс
body, div, a {
	margin: 0;
	padding: 0;
	border: 0;
}

a {text-decoration: none;}

a:focus {outline: 0;}

//Переменные цвета
$button-color: #2e6bc6;
$button-start: #37a0dc;
$button-stop:  #2068a6;
$border:       #163861;
$text-shadow:  #06304b;

//Цвета при провении мышью
$button-hover-color: #2e7dc6;
$button-hover-start: #3f9ff0;
$button-hover-stop:  #2874a9;
$text-hover-shadow:  #0b3c5f;
$focus-shadow:       #0b3c5f;

//Основные стили
body{
	font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button{
	width: 158px; height: 30px;
	margin: 1px auto;
	font-size: 16px;font-weight: bold;
	text-align: center;
	display: block;
	color: #fff;
	padding: 7px 0 0;
	border: 1px solid $border;
	text-shadow: 0 -1px 0 $text-shadow;
	position: relative;

	//Классы Compass
	@include background(
	$button-color
	linear-gradient(top, $button-start 20%, $button-stop)
	);
	@include border-radius(3px);
	@include box-shadow(inset 0 1px 0 rgba(#fff, 0.8));
	@include transition(all 0.3s ease);

	&:hover{
		@include background(
			$button-hover-color
			linear-gradient(top, $button-hover-start 20%, $button-hover-stop)
			);
		@include box-shadow(inset 0 1px 1px rgba(#fff, 0.95));
	}

	&:active{
		@include background(
			linear-gradient(bottom, $button-start, $button-stop)
			);
		text-shadow: 0 1px 0px $text-shadow;
		@include box-shadow(inset 0 2px 8px $focus-shadow);
	}
}

